{% extends "templateProstages.html.twig" %}
{% block title %}Stages{% endblock %}

{% block body %}
    <h1>Stages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Mail</th>
                <th>Description</th>vv
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stage in stages %}
            <tr>
                <td>{{ stage.titre }}</td>
                <td>{{ stage.mail }}</td>
                <td>{{ stage.description }}</td>
                <td>
                    <a href="{{ path('stage_show', {'id': stage.id}) }}">Afficher</a>
                    <a href="{{ path('stage_edit', {'id': stage.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('stage_new') }}">Create new</a>
{% endblock %}
